body, html{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed';
}

.sticky-menu{
    position: sticky;
}
.wrapper1200{
    max-width: 1200px;
    margin: auto;
}
.invisible{
    height: 50px;
    width: 100%;
}
.grid-4{
    margin-bottom: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto;
    grid-gap: 10px;
}
.overflow-grid{
    grid-template-columns: repeat(15, 25%) !important;
    overflow-y: hidden;
    overflow-x: scroll;
}
.comic-grid{
    
    grid-template-columns: repeat(15, 166px) !important;
}
.wrapper1240{
    max-width: 1240px;
    margin: auto;
    height: inherit;
}

.grid4-image-container img{
    width: 100%;
    height: 100%;
}
.grid4-image-container{
    height: 100%;
}

.overflow-grid::-webkit-scrollbar {
    height: 3px;
}
.overflow-grid::-webkit-scrollbar-track {
    width: 2px;
    background-color: white;
    background: url('../images/elpixel.png') center repeat-x;

}
  .overflow-grid::-webkit-scrollbar-thumb {
    width: 50px;
    height: 2px;
    background: red;
  }
