.carousel{
    background-image: url('https://i.annihil.us/u/prod/marvel/images/OpenGraph-TW-1200x630.jpg');
    background-color: white;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    position: relative;
    z-index: -5;
}
.cover-section{
    width: 100%;
}
.cover-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 65vh;
    color: white;
}
.streaming{
    color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    text-transform: uppercase;
    background-color: #151515;
    width: 100%;
    text-align: center;
}
.announcement-title{
    font-size: 4em;
    text-transform: uppercase;
}
.announcement-clue{
    font-size: 1.5em;
}
.announcement-button{
    border-radius: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: #e62429;
    padding: 1em 2.5em 1em;
    clip-path: polygon(0 0, 80% 0, 100% 20%, 100% 100%, 20% 100%, 0 80%);

}
.carousel-nav{
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 55px;
}
.item-carousel-nav{
    background-color: white;
    z-index: 5;
    min-width: 125px;
    width: 13%;
    padding: 20px 10px 25px 0;
}
.item-carousel-nav p{
    height: 100%;
    margin: 0;
}