.grid-video{
    padding-left: 1em;
    padding-right: 1em;
    display: grid;
    grid-gap: 25px;
    overflow-y: scroll;
}
.marvel-videos{
    display: flex;
    overflow-y: hidden;
    max-height: 500px;
}
.image-video-element{
    background-size: cover;
    width: 250px;
    height: 150px;
}
/*Imagenes video*/
.first-video{
    background-image: url('https://terrigen-cdn-dev.marvel.com/content/prod/1x/poster_6178909751001_180fa54bf1aa3866168b17397d9fe477.jpg');
}
.second-video{
    background-image: url('https://terrigen-cdn-dev.marvel.com/content/prod/1x/poster_6178883711001_dbdd22ec2fb24256d400e45650f83c1b.jpg');
}
.third-video{
    background-image: url('https://terrigen-cdn-dev.marvel.com/content/prod/1x/poster_6178905769001_678b625ce131fc1662b48e1dfb3009bf.jpg');
}
.fourth-video{
    background-image: url('https://terrigen-cdn-dev.marvel.com/content/prod/1x/poster_6178875295001_7bab2f27dad19ab42124af0c6d4032ba.jpg');
}
.fiveth-video{
    background-image: url('https://terrigen-cdn-dev.marvel.com/content/prod/1x/poster_6178917847001_4f9f8723f7c39b522679eb24e5d11e08.jpg');
}
.sixth-video{
    background-image: url('https://terrigen-cdn-dev.marvel.com/content/prod/1x/poster_6175864877001_00463fd994b82b2f67a6ef688e28ad1b.jpg')
}
.icon-play-text{
    position: relative;
    display: flex;
    height: 100%;
    background-color: rgba(255, 255, 255, 60%);
    transition: 300ms;
}
.video{
    width: 900px;
    height: 500px;
    background-color: red;
    background-size: cover;
}
.icon-video, .text-video{
    transition: 300ms;
    align-self: flex-end;
}
.text-video{
    max-width: 80%;
    padding-left: .6em;
    padding-top: .6rem;
    padding-bottom: .6rem;
    font-size: .7rem;
    font-weight: 600;

}
.icon-video{
    background-color: white;
    height: 40px;
    width: 40px;
}
.icon-play-text:hover{
    
    background-color: rgba(255, 255, 255, 0%);
}
.icon-play-text:hover > .text-video{
    display: none;
}
.icon-play-text:hover > .icon-video{
    background-color: red;
}
.video-data{
    margin-top: 2em;
}
.video-category{
    font-weight: 600;
    margin-top: 1em;
    text-transform: uppercase;
    color: red;
    font-size: .665em;
}
.video-title{
    margin-top: .25em;
    font-size: 1.45em;
}