.latest-hypebox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reward-latest{
    height: 24px;
    width: 24px;
    border: 1px solid red;

}
.insider{
    fill: #202020;
}
.latest{
    min-width: 65%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.latest h1{
    display: initial;
    text-transform: uppercase;
}

.latest-grid{
    display: grid;
    grid-auto-columns: 100%;
}
.element-image{
    height: 250px;
    width: 50%;
}

.element-image img{
    width: 100%;
}
.latest-element-text{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    width: 50%;
    padding-left: 1.5em;
}
.latest-element{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
    display: flex;
    width: auto;
}
.latest-category{
    
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 400;
}
.latest-title{
    font-size: 1.25rem;
    text-transform: capitalize;
}
.latest-timeago{
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 400;
    font-stretch: extra-condensed;
}
