.latest-hypebox{
    display: flex;
    flex-direction: row;
}
.latest{
    min-width: 70%;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.latest h1{
    display: initial;
    text-transform: uppercase;
}

.latest-grid{
    display: grid;
    grid-auto-columns: 100%;
}
.fakeelementimage{
    height: 250px;
    width: 50%;
    background-color: teal;
}
.latest-element-text{
    width: 50%;
    padding-left: 1.5em;
}
.latest-element{
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid grey;
    display: flex;
    width: auto;
}
.latest-category{
    border: 1px solid red;
    font-size: .875rem;
    text-transform: uppercase;
    font-weight: 400;
}
.latest-title{
    border: 1px solid blue;
    font-size: 1.25rem;
    text-transform: capitalize;
}
.latest-timeago{
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid green;
    font-stretch: extra-condensed;
    
}
.stretch{
    font-stretch: ultra-condensed;
}
